<!doctype html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/libs/bootstrap.min.css">
<script src="/static/libs/popper.min.js"></script>
<script src="/static/libs/jquery.min.js"></script>
<script src="/static/libs/bootstrap.min.js"></script>

<!--- chart.js for creating the charts --->
<script src="/static/libs/Chart.bundle.min.js"></script>
<title>Sensor Graph</title>
</head> 
<body>
<h1 align="center">Temperature Sensors - Last 50 Readings</h1>
<canvas id="myChart" width="200" height="200"></canvas>
<script>

var ctx = document.getElementById('myChart');

var chart = new Chart(document.getElementById("myChart"),
{"type":"line","data":
{"labels":{{x_val|tojson}},
"datasets":[{"label":"Temp Sensor #1(Fahrenheit)",
"data":{{y_val}},
"fill":false,"borderColor":"rgb(255, 0, 0)",
"lineTension":0.1},{"label":"Humidity Sensor #1(%)",
"data":{{y_val2}}, 
"fill":false,"borderColor":"rgb(75, 190, 190)",
"lineTension":0.1}]
},options: {
        scales: {
            yAxes: [{
                ticks: {
		    suggestedMin:40
                }
            }]
        }
    }
});
</script>
</body>
</html>
