<!doctype html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/main.css">
<link rel="stylesheet" href="/static/libs/bootstrap.min.css">
<script src="/static/libs/popper.min.js"></script>
<script src="/static/libs/jquery.min.js"></script>
<script src="/static/libs/bootstrap.min.js"></script>
<title>Smart Home Sensor Network</title>
</head> 
<body>

<div class="page-title">
<h1>Smart Home Sensor Network</h1>
</div>
<hr>

<div class="sensor-info-1">
<h2 class="sensor-location">Basement Sensor: </h2>
<h2 id="temp-sensor-1"></h2>
<a class="btn btn-primary" href="/temp1Chart"  target="_blank" role="button">Basement Sensor Chart</a>
</div>

<div class="sensor-info-2">
<h2 class="sensor-location">Bedroom Sensor: </h2>
<h2 id="temp-sensor-2"></h2>
<a class="btn btn-primary" href="/temp2Chart" target="_blank" role="button">Bedroom Sensor Chart</a>
</div>

<br>

<script src="/static/main.js"></script>
</body>
</html>
