<!doctype html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Basement Sensor</title>
</head> 
<body>
<h1 align="center">Basement Sensor</h1>
<hr>

{% if temp1 is not none %}
<h2>{{temp1}}</h2>
{%endif%}

{% if motion is not none %}
<h2>Motion Sensor: {{motion}}</h2>
{%endif %}

{% if temp2 is not none %}
<h2>{{temp2}}</h2>
{%endif%}

<h2 id="timer"></h2>
<label><input type="checkbox"  id="chkRefresh"/>Autorefresh</label>
<br>
<h2>Recent Sensor History</h2>

<table class="table table-bordered table-hover">  
<tr>     
        <td>Temperature</td> 
        <td>Humidity</td> 
</tr>
 
{%for res in results%} 
<tr>
    <td>{{res[1]}}</td> 
    <td>{{res[2]}}</td> 
{%endfor%}   
</tr> 
</table>

<a class="btn btn-primary" href="/chart"  target="_blank" role="button">View Sensor Chart</a>
<script src="{{url_for('static', filename='refresh.js')}}"></script>
</body>
</html>
