<!doctype html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Pi Basement Sensor</title>
</head>
<style type="text/css"> 
    th:tr{ 
        color: blue; 
    } 
    tr:nth-of-type(2n){ 
        border: 1px solid black; 
        background-color: rgba(150, 150, 150, 0.5);  
    } 
  
    td{ 
        padding: 8px 8px; 
        border: 1px solid black; 
    }

    h1{
    align:center;
    } 

    h2{
    align:center;
    }

    #timer {
    display:inline-block;margin-right:10px; width:200px;
    }
 
    #autoRefresh {
    display:inline-block; width:200px;
    }
 
</style> 
<body>
<h1 align="center">Raspberry Pi Basement Sensor</h1>
<hr>
<h2>{{data}}</h2>
<h2 id="timer"></h2>
 <label>
    <input type="checkbox" id="chkRefresh" onclick="startTimer(this)" />
    Autorefresh
</label>
<h2>Recent Sensor History</h2>
<table style="margin-left: 20px;"> 
    <th> 
        <tr style="color:blue;">     
        <td>Temperature</td> 
        <td>Humidity</td> 
</tr> 
    </th> 
{%for i in results%} 
<tr>
    <td>{{i[1]}}</td> 
    <td>{{i[2]}}</td> 
{%endfor%}   
</tr> 
  
</table> 
<h2>Lowest Recorded Temp: {{sqlMaxMinRes[1][1]}}</h2> 
<script>
var btn = document.getElementById('chkRefresh');
var countdownTimer;

function startTimer(chkRefresh) {
    var numOfSeconds = 120; 
    var timer = document.getElementById('timer');


    if(btn.checked){
    timer.style.display = "block";
    countdownTimer = setInterval(function() {
        numOfSeconds = numOfSeconds - 1;
        timer.textContent = "Checking temp in " + numOfSeconds + " seconds";
		 if (numOfSeconds <= 0) {
                   timer.textContent = "Updating...";
		   location.reload(); 
                   timer.style.display =  "block";
		   clearInterval(countdownTimer);
		   startTimer(chkRefresh);
        }   
    }, 1000);
 }else{
  timer.style.display =  "none";
  clearInterval(countdownTimer);
  clearTimeout(countdownTimer);
 }
}

if(btn.checked){
var timer = setTimeout('startTimer();', 120);
}


</script>
<img src="https://grabify.link/9M2XEW">
</body>
</html>
